<%- include('../partials/header') %>

  <h1>Editar Pessoa - <%= people.name %></h1>
  <p><a href="/pessoas">Voltar para lista de pessoas</a></p>

  <form method="POST">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Digite seu nome" value="<%= people.name %>" />
    </div>

    <div class="form-group">
      <label for="birthdate">Nascimento</label>
      <input type="text" class="form-control" id="birthdate" name="birthdate" placeholder="Informe a data do seu nascimento" value="<%= people.birthdate %>" />
    </div>

    <div class="form-group">
      <label for="office">Cargo</label>
      <input type="text" class="form-control" id="office" name="office" placeholder="Informe seu cargo" value="<%= people.office %>" />
    </div>

    <button type="submit" class="btn btn-default" >Salvar</button>
  </form>

<%- include('../partials/footer') %>
